[Desktop Entry]
Version=1.0
Name=DTD Browser
Name[nl]=DTD webbrowser
GenericName=Web Browser
GenericName[nl]=Webbrowser
Comment=Learn Drupal on the Drupal Training Day
Comment[nl]=Leer Drupal op de Drupal Training Day
Exec=chromium-browser %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser

[Desktop Action NewWindow]
Name=Open a New Window
Name[nl]=Nieuw venster openen
Exec=chromium-browser

[Desktop Action Incognito]
Name=Open a New Window in incognito mode
Name[nl]=Nieuw venster openen in incognito-modus
Exec=chromium-browser --incognito

[Desktop Action TempProfile]
Name=Open a New Window with a temporary profile
Exec=chromium-browser --temp-profile
