[Desktop Entry]
Encoding=UTF-8
Name=DTD Shell
Name[nl]=LXTerminal
GenericName=Terminal
GenericName[nl]=Terminalvenster
Comment=Use the command line
Comment[nl]=Gebruik de opdrachtregel
TryExec=lxterminal
Exec=lxterminal
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
